.listtype3{
    margin:0 auto;
    width:500px;
    display: block;
    }
.listtype3 li, .listtype3 a{
    float:none;
    height:35px;
    width: 75%;
    line-height:35px;
    position:relative;
    font-size:15px;
    margin-bottom: 12px;
    font-family: 'Raleway', sans-serif;
    transition: background-color 1.5s ease;
    display: block;
    }
    .listtype3 a{
    padding:0 60px 0 12px;
    background:#0089e0;
    color:#fff;
    text-decoration:none;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;
    display: block;
    }
    
    .listtype3 a:before{
    content:"";
    float:left;
    position:absolute;
    top:0;
    left:-12px;
    width:0;
    height:0;
    border-color:transparent #0089e0 transparent transparent;
    border-style:solid;
    border-width: 18px 12px 18px 0;
    }
    
    .listtype3 a:after{
    content:"";
    position:absolute;
    top:15px;
    left:0;
    float:left;
    width:6px;
    height:6px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:#fff;
    -moz-box-shadow:-1px -1px 2px #004977;
    -webkit-box-shadow:-1px -1px 2px #004977;
    box-shadow:-1px -1px 2px #004977;
    }
    .listtype3 a:hover{
    background:#555;
    }
    
    .listtype3 a:hover:before{
    border-color:transparent #0089e0 transparent transparent;
    }