.tomatoes {

}
.tomato1{
    width:100px;
    height:100px;
    border-radius:50%;
    background:#D90404;
    position:absolute;
    top:60px;
    left:250px;
  }
  .tomato2{
    width:100px;
    height:100px;
    border-radius:50%;
    background:#D90404;
    position:absolute;
    top:100px;
    left:130px;
  }
  .tomato3{
    width:100px;
    height:100px;
    border-radius:50%;
    background:#D90404;
    position:absolute;
    top:210px;
    left:60px;
  }
  .tomato4{
    width:100px;
    height:100px;
    border-radius:50%;
    background:#D90404;
    position:absolute;
    top:340px;
    left:80px;
  }
  .tomato5{
    width:100px;
    height:100px;
    border-radius:50%;
    background:#D90404;
    position:absolute;
    top:420px;
    left:180px;
  }
  .tomato6{
    width:100px;
    height:100px;
    border-radius:50%;
    background:#D90404;
    position:absolute;
    top:420px;
    left:320px;
  }
  .tomato7{
    width:100px;
    height:100px;
    border-radius:50%;
    background:#D90404;
    position:absolute;
    top:210px;
    left:190px;
  }
  .tomato8{
    width:100px;
    height:100px;
    border-radius:50%;
    background:#D90404;
    position:absolute;
    top:320px;
    left:250px;
  }
  .tomato9{
    width:100px;
    height:100px;
    border-radius:50%;
    background:#D90404;
    position:absolute;
    top:110px;
    left:420px;
  }
  .tomato10{
    width:100px;
    height:100px;
    border-radius:50%;
    background:#D90404;
    position:absolute;
    top:230px;
    left:460px;
    }
